@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Luxurious+Roman&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Passion+One:wght@400;700;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Sriracha&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (max-width: 444px) {
    
    body {
        display: flex;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        overflow-x: hidden;
        background-color: #414141fb;
    }

    header {
        background-color: #343434ef;
        width: 100vw;
        height: 8vh;
        position: fixed;
    }

    .img-header img {
        width: 100vw;
    }

    .mobile-menu {
        cursor: pointer;
        display: block;

    }

    .mobile-menu div {
        width: 32px;
        height: 2px;
        background: #fff;
        margin: 7px;
        transition: 0.3s;
    }


    nav {
        display: flex;
        justify-content: space-between;
        margin: 0px 10px 0px 10px;
        align-items: center;
        font-family: 'Poppins', Arial, Helvetica, sans-serif;
        z-index: 1000;
    }

    .nav-list {
        position: absolute;
        right: 0;
        top: 8vh;
        list-style: none;
        display: flex;
        width: 50vw;
        height: 92vh;
        background-color: #343434ef;
        flex-direction: column;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        z-index: 1000;
    }

    .nav-list.active {
        transform: translateX(0);
    }

    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(50px);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    .nav-list li {
        display: flex;
        justify-content: center;
        opacity: 0;
    }

    header nav svg {
        display: flex;
        width: 45px;
        align-self: center;
        
    }

    header a {
        color: white;
        text-decoration: none;
        transition: 0.3s;
    }

    header a:hover {
        opacity: 0.7;
    }

    .mobile-menu.active .line1 {
        transform: rotate(-45.5deg) translate(-8px, 8px);
    }
    .mobile-menu.active .line2 {
        opacity: 0;
    }
    .mobile-menu.active .line3 {
        transform: rotate(45.5deg) translate(-5px, -7px);
    }

    .img-header img {
        width: 100vw;
    }

    .h1-jornal {
        font-family: 'Poppins', Arial, Helvetica, sans-serif;
        color: rgb(255, 255, 255);
        text-align: center;
        padding-bottom: 1rem;
        padding-top: 1rem;
        font-size: 20px;
        background-color: #414141fb;
    }

    .jornal {
        height: auto;
        background-color: #414141fb;
        padding-bottom: 1rem;
    }

    #mini-jornal {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        gap: 35px;
    }

    .noticias a {
        display: flex;
        text-decoration: none;
        gap: 3px;
        font-family: 'Poppins', Arial, Helvetica, sans-serif;
        color: white;
        flex-direction: column;
        width: 150px;
        height: 330px;
        background-color: #787878;
        overflow: scroll;
    }

    .noticias img {
        height: 150px;
        width: 150px;
    }

    .data-noticias {
        font-size: 10px;
        margin-left: 5px;
    }

    .h1-noticias {
        font-size: 14px;
        margin-left: 5px;
    }

    .desc-noticias {
        font-size: 12px;
        margin-left: 5px;
    }

    .box15 {
        width: 100vw;
        height: auto;
        background-color: #414141fb;
        display: flex;
    }

    .box16 {
        display: flex;
        width: 150px;
        flex-direction: column;
        justify-content: center;
        height: 13rem;
        background-color: #414141fb;
        
    }

    .box16 span {
        line-height: 3;
    }

    .box16 a {  
        text-decoration: none;  
        color: white;
        font-family: 'Poppins', Arial, Helvetica, sans-serif;
        font-size: 14px;
    }

    .box17 {
        width: 100vw;
        display: flex;
        flex-direction: column;
        gap: 5px;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
       
    label {
        display: block;
        font-family: 'Poppins', Arial, Helvetica, sans-serif;
        font-size: 10px;
        color: white;
    }

    input {
        display: flex;
        width: 200px;
        align-self: center;
    }

    select {
        width: 200px;
    }

    options {
        color: black;
    }

    .enviar-reset {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        gap: 35px;
    }

    #submit {
        width: 50px;
    }
        
    #reset {
        width: 50px;
    }

    .credits-license {
        width: 100vw;
        height: 3rem;
        background-color: #1a1a1ab6;
    }

    .license, .license2, .dev {
        font-family: 'Poppins', Arial, Helvetica, sans-serif;
        font-size: 10px;
        text-align: center;
    }

    .dev {
        background-color:#9A9B9B;
    }

    .dev a {
        text-decoration: none;
        color: white;
    }
}

@media (min-width: 445px) and (max-width:703px) {
    
    body {
        display: flex;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        overflow-x: hidden;
        background-color: #414141fb;
    }

    header {
        background-color: #343434ef;
        width: 100vw;
        height: 8vh;
        position: fixed;
    }

    .img-header img {
        width: 100vw;
    }

    .mobile-menu {
        cursor: pointer;
        display: block;

    }

    .mobile-menu div {
        width: 32px;
        height: 2px;
        background: #fff;
        margin: 7px;
        transition: 0.3s;
    }


    nav {
        display: flex;
        justify-content: space-between;
        margin: 0px 10px 0px 10px;
        align-items: center;
        font-family: 'Poppins', Arial, Helvetica, sans-serif;
        z-index: 1000;
    }

    .nav-list {
        position: absolute;
        right: 0;
        top: 8vh;
        list-style: none;
        display: flex;
        width: 50vw;
        height: 92vh;
        background-color: #343434ef;
        flex-direction: column;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        z-index: 1000;

    }

    .nav-list.active {
        transform: translateX(0);
    }

    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(50px);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    .nav-list li {
        display: flex;
        justify-content: center;
        opacity: 0;
    }

    header nav svg {
        display: flex;
        width: 45px;
        align-self: center;
        
    }

    header a {
        color: white;
        text-decoration: none;
        transition: 0.3s;
    }

    header a:hover {
        opacity: 0.7;
    }

    .mobile-menu.active .line1 {
        transform: rotate(-45.5deg) translate(-8px, 8px);
    }
    .mobile-menu.active .line2 {
        opacity: 0;
    }
    .mobile-menu.active .line3 {
        transform: rotate(45.5deg) translate(-5px, -7px);
    }

    .img-header img {
        width: 100vw;
    }

    .h1-jornal {
        font-family: 'Poppins', Arial, Helvetica, sans-serif;
        color: rgb(255, 255, 255);
        text-align: center;
        padding-bottom: 1rem;
        padding-top: 1rem;
        font-size: 20px;
        background-color: #414141fb;
    }

    .jornal {
        height: auto;
        background-color: #414141fb;
        padding-bottom: 1rem;
    }

    #mini-jornal {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        gap: 35px;
    }

    .noticias a {
        display: flex;
        text-decoration: none;
        gap: 3px;
        font-family: 'Poppins', Arial, Helvetica, sans-serif;
        color: white;
        flex-direction: column;
        width: 150px;
        height: 330px;
        background-color: #787878;
        overflow: scroll;
    }

    .noticias img {
        height: 150px;
        width: 150px;
    }

    .data-noticias {
        font-size: 10px;
        margin-left: 5px;
    }

    .h1-noticias {
        font-size: 14px;
        margin-left: 5px;
    }

    .desc-noticias {
        font-size: 12px;
        margin-left: 5px;
    }

    .box15 {
        width: 100vw;
        height: auto;
        background-color: #343434ef;
        display: flex;
    }

    .box16 {
        display: flex;
        width: 150px;
        flex-direction: column;
        justify-content: center;
        height: 13rem;
        background-color: #343434 ;
        
    }

    .box16 span {
        line-height: 3;
    }

    .box16 a {  
        text-decoration: none;  
        color: white;
        font-family: 'Poppins', Arial, Helvetica, sans-serif;
        font-size: 14px;
    }

    .box17 {
        width: 100vw;
        display: flex;
        flex-direction: column;
        gap: 5px;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
       
    label {
        display: block;
        font-family: 'Poppins', Arial, Helvetica, sans-serif;
        font-size: 10px;
        color: white;
    }

    input {
        display: flex;
        width: 200px;
        align-self: center;
    }

    select {
        width: 200px;
    }

    options {
        color: black;
    }

    .enviar-reset {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        gap: 35px;
    }

    #submit {
        width: 50px;
    }
        
    #reset {
        width: 50px;
    }

    .credits-license {
        width: 100vw;
        height: 3rem;
        background-color: #1a1a1ab6;
    }

    .license, .license2, .dev {
        font-family: 'Poppins', Arial, Helvetica, sans-serif;
        font-size: 10px;
        text-align: center;
    }

    .dev {
        background-color:#9A9B9B;
    }

    .dev a {
        text-decoration: none;
        color: white;
    }
}

@media (min-width: 704px) and (max-width:1024px) {
    body {
        display: flex;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        background-color: #414141fb;
    }

    header {
        background-color: #343434ef;
        width: 100vw;
        height: 7vh;
        position: fixed;
        display: flex;
    }

    header nav {
        display: flex;
        width: 100vw;
        justify-content: space-between;
        align-items: center;
        font-family: 'Poppins', Arial, Helvetica, sans-serif;
    }

    .nav-list {
        list-style: none;
        display: flex;
    }

    .nav-list li {
        display: flex;
        padding: 1rem;
    }

    header nav svg {
        display: flex;
        width: 45px;
    }

    header a {
        color: white;
        text-decoration: none;
    }

    .mobile-menu.active .line1 {
       display: hidden;
    }
    .mobile-menu.active .line2 {
        display: hidden;
    }
    .mobile-menu.active .line3 {
        display: hidden;
    }

    .img-header img {
        width: 100vw;
    }

    .h1-jornal {
        font-family: 'Poppins', Arial, Helvetica, sans-serif;
        color: rgb(255, 255, 255);
        text-align: center;
        padding-bottom: 1rem;
        padding-top: 1rem;
        font-size: 20px;
        background-color: #414141fb;
    }

    .jornal {
        height: auto;
        background-color: #414141fb;
        padding-bottom: 1rem;
    }

    #mini-jornal {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        gap: 35px;
    }

    .noticias a {
        display: flex;
        text-decoration: none;
        gap: 3px;
        font-family: 'Poppins', Arial, Helvetica, sans-serif;
        color: white;
        flex-direction: column;
        width: 250px;
        height: 330px;
        background-color: #787878;
        overflow: scroll;
    }

    .noticias img {
        height: 250px;
        width: 250px;
    }

    .data-noticias {
        font-size: 10px;
        margin-left: 5px;
    }

    .h1-noticias {
        font-size: 14px;
        margin-left: 5px;
    }

    .desc-noticias {
        font-size: 12px;
        margin-left: 5px;
    }

    .box15 {
        width: 100vw;
        height: auto;
        background-color: #343434ef;
        display: flex;
    }

    .box16 {
        display: flex;
        width: 150px;
        flex-direction: column;
        justify-content: center;
        height: 13rem;
        background-color: #343434 ;
        
    }

    .box16 span {
        line-height: 3;
    }

    .box16 a {  
        text-decoration: none;  
        color: white;
        font-family: 'Poppins', Arial, Helvetica, sans-serif;
        font-size: 14px;
    }

    .box17 {
        width: 100vw;
        display: flex;
        flex-direction: column;
        gap: 5px;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
       
    label {
        display: block;
        font-family: 'Poppins', Arial, Helvetica, sans-serif;
        font-size: 10px;
        color: white;
    }

    input {
        display: flex;
        width: 200px;
        align-self: center;
    }

    select {
        width: 200px;
    }

    options {
        color: black;
    }

    .enviar-reset {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        gap: 35px;
    }

    #submit {
        width: 50px;
    }
        
    #reset {
        width: 50px;
    }

    .credits-license {
        width: 100vw;
        height: 3rem;
        background-color: #1a1a1ab6;
    }

    .license, .license2, .dev {
        font-family: 'Poppins', Arial, Helvetica, sans-serif;
        font-size: 10px;
        text-align: center;
    }

    .dev {
        background-color:#9A9B9B;
    }

    .dev a {
        text-decoration: none;
        color: white;
    }

}

@media (min-width:1025px) {
    body {
        display: flex;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        background-color: #414141fb;
    }

    header {
        background-color: #343434ef;
        width: 100vw;
        height: 7vh;
        position: fixed;
        display: flex;
    }

    header nav {
        display: flex;
        width: 100vw;
        justify-content: space-between;
        align-items: center;
        font-family: 'Poppins', Arial, Helvetica, sans-serif;
    }

    .nav-list {
        list-style: none;
        display: flex;
    }

    .nav-list li {
        display: flex;
        padding: 1rem;
    }

    header nav svg {
        display: flex;
        width: 45px;
    }

    header a {
        color: white;
        text-decoration: none;
    }

    .mobile-menu.active .line1 {
       display: hidden;
    }
    .mobile-menu.active .line2 {
        display: hidden;
    }
    .mobile-menu.active .line3 {
        display: hidden;
    }

    .img-header img {
        width: 100vw;
    }

    .h1-jornal {
        font-family: 'Poppins', Arial, Helvetica, sans-serif;
        color: rgb(255, 255, 255);
        text-align: center;
        padding-bottom: 1rem;
        padding-top: 1rem;
        font-size: 20px;
        background-color: #414141fb;
    }

    .jornal {
        height: auto;
        background-color: #414141fb;
        padding-bottom: 1rem;
    }

    #mini-jornal {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        gap: 35px;
    }

    .noticias a {
        display: flex;
        text-decoration: none;
        gap: 3px;
        font-family: 'Poppins', Arial, Helvetica, sans-serif;
        color: white;
        flex-direction: column;
        width: 250px;
        height: 330px;
        background-color: #787878;
        overflow: scroll;
    }

    .noticias img {
        height: 250px;
        width: 250px;
    }

    .data-noticias {
        font-size: 10px;
        margin-left: 5px;
    }

    .h1-noticias {
        font-size: 14px;
        margin-left: 5px;
    }

    .desc-noticias {
        font-size: 12px;
        margin-left: 5px;
    }

    .box15 {
        width: 100vw;
        height: auto;
        background-color: #343434ef;
        display: flex;
    }

    .box16 {
        display: flex;
        width: 150px;
        flex-direction: column;
        justify-content: center;
        height: 13rem;
        background-color: #343434 ;
        
    }

    .box16 span {
        line-height: 3;
    }

    .box16 a {  
        text-decoration: none;  
        color: white;
        font-family: 'Poppins', Arial, Helvetica, sans-serif;
        font-size: 14px;
    }

    .box17 {
        width: 100vw;
        display: flex;
        flex-direction: column;
        gap: 5px;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
       
    label {
        display: block;
        font-family: 'Poppins', Arial, Helvetica, sans-serif;
        font-size: 10px;
        color: white;
    }

    input {
        display: flex;
        width: 200px;
        align-self: center;
    }

    select {
        width: 200px;
    }

    options {
        color: black;
    }

    .enviar-reset {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        gap: 35px;
    }

    #submit {
        width: 50px;
    }
        
    #reset {
        width: 50px;
    }

    .credits-license {
        width: 100vw;
        height: 3rem;
        background-color: #1a1a1ab6;
    }

    .license, .license2, .dev {
        font-family: 'Poppins', Arial, Helvetica, sans-serif;
        font-size: 10px;
        text-align: center;
    }

    .dev {
        background-color:#9A9B9B;
    }

    .dev a {
        text-decoration: none;
        color: white;
    }
}



